.custom_adposition{
    width: 195px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: #f7f7f9;
} 

.custom_adselect{
    width: 60px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

.custom_adbtn{
    margin-bottom: 3px;
    margin-left: 5px;
}

.custom_adinput{
    margin-top: 2px;
    margin-bottom: 2px;
}

.custom_adnavbar{
    padding-left: 70px;
    padding-right: 70px;
}

.custom_adnav{
    /*width: 300px;*/
}

.custom_adcontent{
    margin-top: 30px;
}

.delete_btn{
    background-color: transparent;
    border: 0px;
    display: inline-block;
    color: #337ab7;
}

.card{
    height: 220px
}

.card_title{
    margin-top:0;
}

.card_button{
   /*float: right;*/
   position: absolute;
   bottom: 30px;
   right: 30px;
}