.usrcontent{
    font-size: 20px; 
    margin-bottom: 7px;
    color: #b0232a;
}

.usrclassinfo{
    margin: 20px 0;  
}

.usrlabel{
    margin-top: 10px;
}

.usrselect{
    width: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
}

.usradd-on{
    margin-left: -5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
}

.input-append{
    display: inline-block;
}

.usrspan{
    margin: 0 5px;
}

.form-inline{
    width: 780px;
}

.equipLabel{
    margin-right: 30px;
}

.equipLabelx{
    padding-left: 10px!important;
}

.defaultHide{
    display: none;
}

.defaultWidth{
    width: 70px;
}

.check:checked+.defaultHide{
    display: block;
}
