.usrcontent{
    font-size: 24px; 
    margin-bottom: 7px;
    color: #b0232a;
}

.usrclassinfo{
    margin: 0 0 20px 0;  
}

.usrlabel{
    margin-top: 10px;
}

.usrselect{
    width: 50px;
    background-color: #fff;
    height: 30px;
    border: 0;
}

.usradd-on{
    margin-left: -5px;
    border: 0px;
    padding: 6px;
}

.input-append{
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.usrspan{
    margin: 5px 5px;
    display: inline-block;
    float:left;
}

.form-inline{
    width: 780px;
}

.equipLabel{
    margin-right: 30px;
}

.equipLabelx{
    padding-left: 10px!important;
}

.defaultHide{
    display: none;
}

.defaultWidth{
    width: 95px;
}

.check:checked+.defaultHide{
    display: block;
}

.booking-classroom{
    margin: 30px 0;
}
