.custom_footer {
    background-color: rgb(42, 39, 48);
    color: white;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    height: 80px;
}

.custom_footer div {
    text-align: center;
}

.navbar-right {
    margin-right: 10%;
}

.container {
    margin-top: 50px;
    margin-bottom: 32px;
    position: relative;
}

.wrapper{
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

#datepicker{
    display : inline-block;
    border : 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

#datepicker table{
    margin : 0 auto;
}
html, body{
    height: 100%;
}

