.custom_adposition{
    width: 195px;
} 

.custom_adselect{
    width: 60px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

.custom_adbtn{
    margin-bottom: 3px;
    margin-left: 5px;
}

.custom_adinput{
    margin-top: 2px;
    margin-bottom: 2px;
}

.custom_adnavbar{
    padding-left: 70px;
    padding-right: 70px;
}

.custom_adnav{
    width: 300px;
}

.custom_adcontent{
    margin-top: 30px;
}

.delete_btn{
    background-color: transparent;
    border: 0px;
    display: inline-block;
    color: #337ab7;
}